.title {
    font-size: 45px;
    font-weight: 700;
    color: $main-color;
    margin-bottom: 0;

    &_tsh {
        text-shadow: rgba(255, 255, 255, 0.1) 1px 1px 9px;
    }

    &_fs20 {
        font-size: 20px;
    }

    &_fs24 {
        font-size: 24px;
    }

    &_white {
        color: #fff;
    }

    &_tac {
        text-align: center;
    }

    &_mt70 {
        margin-top: 70px;
    }

    &_mb20 {
        margin-bottom: 20px;
    }
}